


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выполненные услуги по домам</h2>

    @Html.Action("IndexPoDomamPartial0")

<div class="row" id="PartPoDomam">
    @Html.Action("IndexPoDomamPartial")
</div>




