
@{
    ViewBag.Title = "UploadEnd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Загрузка и обработка файла успешно завершена!</h2>
<div class="alert alert-success" role="alert">
    Файл успешно обработан сервером. Все данные внесены в базу. Вы можете проверить их в разделе=>>
</div>
<p><a href="/VipolnennieUslugis/IndexPoDomam" class="btn btn-success btn-default" style="width:100%">Выполненные услуги по домам >></a></p>


