
@{
    ViewBag.Title = "Warning";
}

<h2>Ошибка загрузки файла!</h2>
<p>Возможно выбран не тот тип файла или файл не содержит ячейки с '№'. Выберите корректный файл и повторите попытку.</p>


<div class="alert-danger">
    <p>@ViewBag.Warning</p>
    </div>


