



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Файлы СВН по месяцам</title>
</head>
<body>
    <h3>Файлы СВН по месяцам</h3>
    <h5>В раскрывающихся списках показаны адреса, по которым были найдены соответствующие данные в файле.</h5>


    <table id="T" class="table table-bordered table-striped">
        <tr>
            <th>
                Дата
            </th>
            <th>
                ОТОПЛЕНИЕ
            </th>
            <th>
                ГВ НА СОДЕРЖ. ОБЩ. ИМУЩ.
            </th>
            <th>
                ГОР.ВОДА
            </th>

        </tr>
        @for (int i = 0; i < ViewBag.Head.Count; i++)
        {
            <tr>
                <th>
                    @ViewBag.Head[i]
                </th>
                @for (int j = 0; j < 3; j++)
                {
                <td>
                    @ViewBag.SVNKI[i * 3 + j]
                </td>
                }
            </tr>
        }



    </table>
    <p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
    <p><a href="/SVNs/Upload" class="btn btn-success btn-block">Загрузить новый файл СВН  &raquo;</a> </p>
</body>
</html>
