<h2>Логи</h2>


<p>
    @Html.ActionLink("Создать новый лог", "Create", null, new { @class = "btn btn-success btn-block" })
</p>
<div class="row" id="Menu">
    @Html.Action("MenuLogs")
</div>
<div class="row" id="Spisok">
    @Html.Action("SpisokLogs")
</div>




