
@{
    ViewBag.Title = "OtchetMonth";
}

<h2><Center><b>Отчет Excel сформирован вы можете его </b></Center> </h2>

<h2><a href="@Url.Action("Download", new {GEU = ViewBag.patch })" class="btn btn-success btn-block" >СКАЧАТЬ</a><br /></h2>
