@model IEnumerable<GKHNNC.Models.Marshrut>

@{
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<table class="table-bordered table-striped">



    @foreach (var Item in Model)
    {
    <tr>
        <td>
            @Item.Id
        </td>
        <td>
            @Item.Name
        </td>

    </tr>
            }
      
    </table>