<h3>Ошибка создания отчёта!</h3>
<h5>К сожалению отчет не может быть создан или загружен.</h5>
<p>Ошибка @ViewBag.Error</p>

<p>Попробуйте создать отчёт позже, а лучше обратитесь к системному администратору. Он точно знает как всё исправить:)</p>