@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}



<h2>Остатки по накопительным счетам</h2>
<Center>
    <div class="table">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="/MKDYearResults/Index" class="btn btn-success btn-lg" style="width:500Px"><i class="glyphicon glyphicon-align-right"></i> Корректировка остатков по накопительным счетам МКД &raquo;</a>
                </p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="/MKDYearResults/PerenosOstatkovPoNakopitelnymSchetam" class="btn btn-success btn-lg" style="width:500Px"><i class="glyphicon glyphicon-align-right"></i>Перенос остатков по накопительным счетам МКД &raquo;</a>
                </p>

            </div>

        </div>
    </div>
</Center>